/* You can add global styles to this file, and also import other style files */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



$mainColor : #fe5f0a;



@mixin buttonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mainColor;
    width: 200px;
    height: 30px;
    border: none;
    color: white;
    border-radius: 10px;
}



@font-face {
    font-family: "mainFont" ;
    src: url(../public/fonts/EmblemaOne-Regular.ttf);
}