<button (click)="showData()">Show Data of Users</button>
<!-- <img src="../../../public/images/photo-1438761681033-6461ffad8d80.jpg" alt=""> -->
<div class="imgCont"></div>

<h1 *ngIf="showTitle">{{ title }}</h1>
<div class="cont" *ngIf="showUsers">
    <div class="box" *ngFor="let user of users">
        <img [src]="user.avatar" alt="">
        <div class="names">
            <h2>{{ user.first_name }}</h2>
            <h2>{{ user.last_name }}</h2>
        </div>
        <p>{{ user.email }}</p>
        <button>Save</button>
    </div>
</div>

<section>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Avatar</th>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td><img [src]="user.avatar" alt="Avatar"></td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
</section>
